@media (min-width: 640px) and (max-width: 1023px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (min-width: 640px) {
        .card {
            grid-template-areas: 
                "title photo"
                "address photo"
                "description photo";
            grid-template-columns: 1fr 120px;
        }
    }
    .card button { grid-area: button; }
}